VITE_API_URL = "https://yourshumanlynepal.anoopinnovations.com/api/"
VITE_CK_EDITOR_KEY_DEVELOPMENT = "eyJhbGciOiJFUzI1NiJ9.eyJleHAiOjE3Njc0ODQ3OTksImp0aSI6IjI1OTA4M2Y0LTdkMjctNGU1MC1hNzQxLTdjZjBhMDI2MTY0MSIsImxpY2Vuc2VkSG9zdHMiOlsiMTI3LjAuMC4xIiwibG9jYWxob3N0IiwiMTkyLjE2OC4qLioiLCIxMC4qLiouKiIsIjE3Mi4qLiouKiIsIioudGVzdCIsIioubG9jYWxob3N0IiwiKi5sb2NhbCJdLCJ1c2FnZUVuZHBvaW50IjoiaHR0cHM6Ly9wcm94eS1ldmVudC5ja2VkaXRvci5jb20iLCJkaXN0cmlidXRpb25DaGFubmVsIjpbImNsb3VkIiwiZHJ1cGFsIl0sImxpY2Vuc2VUeXBlIjoiZGV2ZWxvcG1lbnQiLCJmZWF0dXJlcyI6WyJEUlVQIl0sInZjIjoiODA1MzczOWMifQ.V5lefp5aR2QQHourgVKXfiwfowXZgGzHTgeRUAZYRVLPaVI36kBndmsBXA2IY-KdBjJ6vvhhBMrjrLJp9q0uqw"
VITE_CK_EDITOR_KEY_PRODUCTION ="eyJhbGciOiJFUzI1NiJ9.eyJleHAiOjE3Njc0ODQ3OTksImp0aSI6ImI1NGQwNDM3LWNlNWItNGMyNi05N2Q2LTNkYmIwZmVkYjY5ZiIsInVzYWdlRW5kcG9pbnQiOiJodHRwczovL3Byb3h5LWV2ZW50LmNrZWRpdG9yLmNvbSIsImRpc3RyaWJ1dGlvbkNoYW5uZWwiOlsiY2xvdWQiLCJkcnVwYWwiXSwiZmVhdHVyZXMiOlsiRFJVUCJdLCJ2YyI6ImVhOGM4ZGUyIn0.WrgtyJMVOi_k0ClkHuzf1ofFhQue2AsYNM79WKt-Q7nmGmqZGZLR6PjEwUEzpZhiKccN62N8X8cepgm2t6gf7g"