@media print {
	body {
		margin: 0 !important;
		padding: 0 !important;
	}
}
.ck-editor__editable {
    height: 500px !important;
    min-width: 750px !important;
}

.main-container {
	font-family: 'Lato';
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.ck-content {
	font-family: 'Lato';
	line-height: 1.6;
	word-break: break-word;
}

.editor-container_classic-editor .editor-container__editor {
	min-width: 750px;
}

.ck-content ol,
.ck-content ul {
  padding-left: 18px;
  list-style-type: inherit;
}
